<h1>Login</h1>

<%= form_tag '/sessions' do %>
  <table class="new-session">
    <tr class="form-group">
      <td class="login-label">Email: </td>
      <td class="login-field"><%= text_field_tag :email %></td>
    </tr>

    <tr class="form-group">
      <td class="login-label">Password: </td>
      <td class="login-field"><%= password_field_tag :password %></td>
    </tr>
  </table>
  <div class="form-group">
    <%= submit_tag "Log In", class: 'btn btn-primary' %>
  </div>
<% end %>