main section.products-show .comment-details {
  h4 {
    text-align: center;
  }

  .cmnt-creation {
    float: left;
    width: 50%;
    padding: 0.5em;

    .cmnt-form {

      .cmnt-rating {
        padding-top: 1em;
        padding-left: 1em;
      }

      .cmnt-content {
        padding-top: 1em;
        padding-left: 1em;
        width: 90%;
      }

      .cmnt-submit {
        float: right;
        padding: 1em;
        padding-right: 2em;

      }
    }

    .commented-by-user {
      padding: 1em;
      font-style: italic;
    }
  }

  .cmnt-display {
    float: right;
    width: 50%;
    padding: 0.5em;

    table {
      border: 1px solid #f7f7f7;
    }

    .cmnt-first-to-rate {
      text-align: left;
    }

    .cmnt-table tr.cmnt-render-row :hover {
      // can't seem to hover over entire row at once...
      background-color: #f7f7f7;
    }

    .cmnt-comment-title {
      padding-left: 1.5em;
    }

    .cmnt-row-rating {
      text-align: center;
      padding-top: 0.3em;
    }

    .cmnt-row-content {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 0.3em;
    }

    .cmnt-delete-btn {
      color: #c11900;
    }
  }
}